<div id="canvas_board">
	<div class="edit_utils_container">
		<ul class="horizontal_container">
			<li ng-show="canvas.isObjectSelected" ng-click="canvas.deleteSelectedObject()"><img src="/images/utils/delete.png" height="16" width="16"></li>
			<li ng-click="canvas.addText()"><img src="/images/utils/pencil.png" height="16" width="16"></li>
			<li ng-click="canvas.paintBrush()"><img src="/images/utils/paint.png" height="16" width="16"></li>
			<li ng-click="canvas.resetBoard()"><img src="/images/utils/reset.png" height="16" width="16"></li>
		</ul>
	</div>
	<canvas id="play_board" width="700" height="500"></canvas>
</div>



