<div id="stikkar_header">
	<div class="header_banner">
		<div class="menu_logo">
			<a style="" href="/" title="Home">Stikkar</a>
	    </div>
	</div>
	<div class="header_triangle"></div>
	<div class="right_container">
		<div class="button_container" ng-click="header.openDownloadDialog()">
			Export 
		</div>
		<div class="button_container" ng-show="header.isEdited" ng-click="header.saveBoard()">
			{{header.saveText}}
		</div>
		<div class="info_container">
			<div class="available">
				Available Space: <span>5024 KB</span>
			</div>
			<div class="free">
				Used Space: <span>{{usedFileStorageSpace + " KB"}}</span>
			</div>
		</div>	
	</div>
</div>